{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    {% for product in cart.products %}
        <div class="col-md-12">
            <div class="well">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" style="max-width: 100px;" src="{% path product.mainPhoto, 'reference' %}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ product.title }}</h4>
                        <input type="text" class="form-control" placeholder="" value="{{ product.quantity }}">
                        <a href="{{ path('corporation.userarea.cart.remove', {id: product.id}) }}" class="btn btn-danger">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="col-md-12">
        <div class="well">
            Total price: {{ cart.amount }}$
        </div>
    </div>

    <div class="col-md-12">
        <a href="{{ path('corporation.userarea.order.shipping') }}" class="btn btn-success">Pay</a>
    </div>
{% endblock %}
