{% extends 'SonataAdminBundle::custom_layout.html.twig' %}

{% block title %} - Settings List
    {#{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}#}
{% endblock%}
{% block breadcrumb %}
    <div class="navbar-left">
        <div class="hidden-xs">
            <ol class="nav navbar-top-links breadcrumb">
                <li>
                    <a href="{{ path('sonata_admin_dashboard') }}">
                        <i class="fa fa-home"></i>                                                                </a>
                </li>
                <li class="active"><span>Settings List</span></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-striped sonata-ba-list">
                        <thead>
                        <tr class="sonata-ba-list-field-header">
                            <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc">
                                Log Filename
                            </th>

                            <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc">
                                Last Edited At
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                            <tr>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                    <a href="{{ path('utility_getlog', { 'filename': log.name }) }}"
                                       class="sonata-link-identifier">
                                        {{ log.name }}
                                    </a>
                                </td>

                                <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                    {{ log.lastEditedAt|date("m/d/Y H:i:s") }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box box-primary" style="margin-bottom: 100px;">
                <div class="box-footer">
                    <div class="form-inline clearfix">
                        <div class="pull-left">
                            <a href="{{ path('utility_clearcache') }}">
                                <button type="button" class="btn btn-primary">Clear Cache</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
