<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

<script>
    javascript:(function() {
        function l(u, i) {
            var d = document;
            if (!d.getElementById(i)) {
                var s = d.createElement('script');
                s.src = u;
                s.id = i;
                d.body.appendChild(s);
            }
        }
        l('//code.jquery.com/jquery-3.2.1.min.js', 'jquery')
    })();
</script>

<script>



    function saveToStarredPlace(index) {
        var section_results_google = $('.section-result').toArray();

        setTimeout(function () {
            $(section_results_google[index]).click();
        }, 1000);

        setTimeout(function () {
            $('.maps-sprite-pane-action-ic-save-v2.section-action-button-icon').click();
        }, 2000);

        setTimeout(function () {
            $('.maps-sprite-pane-action-ic-list-starred-fg.context-menu-entry-icon').click();
        }, 3000);

        setTimeout(function () {
            $('.section-back-to-list-button.blue-link.noprint').click();
        }, 4000);
    }

    // Favorites
    for (i = 0; i < 92; i++) {
        setTimeout(function (index) {
            console.log('Launching my function with index: ' + index);
            saveToStarredPlace(index)
        }, (i) * 7000, i);
    }


    // Places to go
    for (i = 520; i < 600; i++) {
        setTimeout(function (index) {
            console.log('Launching my function with index: ' + index);
            saveToStarredPlace(index)
        }, (i-520) * 7000, i);
    }









</script>
