{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{ settings.title }}</h3>
        </div>
        <div class="box-body">
            {% if results|length > 0 %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Spent ($)</th>
                        <th>Screens</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in results %}
                        <tr>
                            <td width="40%">{{ result.fullname }}</td>
                            <td>{{ result.total }}</td>
                            <td>{{ result.totalScreens }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                There are currently no top employees.
            {% endif %}
        </div>
    </div>
{% endblock %}