<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <script src="/js/jquery-2.2.4.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <style>
            img.responsive {
                display: block;
                max-width: 100%;
                height: auto;
            }
        </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    {% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('corporation.userarea.main.index') }}">{{ corporation_name }}</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('corporation.userarea.shop.index') }}">Shop</a></li>
                        <li><a href="{{ path('corporation.userarea.main.about') }}">About</a></li>
                        <li><a href="{{ path('corporation.userarea.content.reviews') }}">Reviews</a></li>
                        <li><a href="{{ path('corporation.userarea.content.faq') }}">FAQ</a></li>
                        <li><a href="{{ path('corporation.userarea.content.recipes') }}">Recipes</a></li>
                        <li><a href="{{ path('corporation.userarea.main.contact') }}">Contact</a></li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('corporation.userarea.cart.index') }}">
                                Cart ({{ app.session.get('cart').products is defined ? app.session.get('cart').products|length : 0 }})
                            </a>
                        </li>

                        <li><a href="{{ path('corporation.userarea.security.login') }}">Login \ Sign up</a></li>
                        <li><a href="{{ path('corporation.userarea.customer.profile') }}">Profile</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" action="{{ path('corporation.userarea.main.search') }}" method="get">
                        <div class="form-group">
                            <input name="term" type="text" class="form-control" placeholder="Product name">
                        </div>
                        <input type="submit" class="btn btn-default" value="Search">
                    </form>
                </div>
            </div>
        </nav>
    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for flashMsg in app.session.flashBag.get('notice') %}
                    <div class="alert alert-success">{{ flashMsg }}</div>
                {% endfor %}
                {% for flashMsg in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">{{ flashMsg }}</div>
                {% endfor %}
            </div>
        </div>

        {% block main %}{% endblock %}
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
