{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="col-md-10">
        <h1>My Profile</h1>
        <div class="well">
            <form action="{{ path('corporation.userarea.customer.profile') }}" method="post">
                <input placeholder="First name" value="{{ form.vars.value.firstname }}" name="customer_profile_form[firstname]" type="text" class="form-control">
                <input placeholder="Last name" value="{{ form.vars.value.lastname }}" name="customer_profile_form[lastname]" type="text" class="form-control">
                <input placeholder="Address" value="{{ form.vars.value.addressLine1 }}" name="customer_profile_form[addressLine1]" type="text" class="form-control">
                <input placeholder="Address Line 2" value="{{ form.vars.value.addressLine2 }}" name="customer_profile_form[addressLine2]" name="customer_profile_form[firstname]" type="text" class="form-control">
                <input placeholder="City" value="{{ form.vars.value.city }}" name="customer_profile_form[city]" type="text" class="form-control">
                {{ form_widget(form.region, { 'attr': {'class': 'form-control'} }) }}
                <input placeholder="Zip/Postal Code" value="{{ form.vars.value.postalCode }}" name="customer_profile_form[postalCode]" type="text" class="form-control">
                {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                <input placeholder="Phone number" value="{{ form.vars.value.phone }}" name="customer_profile_form[phone]" type="text" class="form-control">

                {{ form_widget(form._token) }}
                <input type="submit" class="btn btn-primary" value="Save"/>
            </form>
        </div>
    </div>

    <div class="col-md-10">
        <h1>My orders</h1>
        <div class="row">
            <div class="well">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut consequatur consequuntur
                dignissimos distinctio dolores dolorum esse fugiat iste laborum maiores molestias mollitia nesciunt,
                sapiente sequi sint sunt tempora voluptatum.
            </div>
        </div>
        <div class="row">
            <div class="well">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut consequatur consequuntur
                dignissimos distinctio dolores dolorum esse fugiat iste laborum maiores molestias mollitia nesciunt,
                sapiente sequi sint sunt tempora voluptatum.
            </div>
        </div>
        <div class="row">
            <div class="well">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut consequatur consequuntur
                dignissimos distinctio dolores dolorum esse fugiat iste laborum maiores molestias mollitia nesciunt,
                sapiente sequi sint sunt tempora voluptatum.
            </div>
        </div>
    </div>
{% endblock %}
