{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="col-md-12">
        <div class="row">
            <div class="thumbnail">
                {% if product.mainPhoto %}
                    <img src="{% path product.mainPhoto.id, 'reference' %}" alt="...">
                {% else %}
                    <img src="" alt="...">
                {% endif %}
                <div class="row" style="margin-top: 10px;">
                    {% if product.photoGallery %}
                        {% for photoGalleryItem in product.photoGallery.galleryHasMedias %}
                            <div class="col-md-4">
                                <img class="responsive" src="{% path photoGalleryItem.id, 'reference' %}"
                                     alt="...">
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="caption">
                    <h3>{{ product.title }}</h3>
                    <p>{{ product.description }}</p>
                    <p>{{ product.price }}$</p>

                    <form action="{{ path('corporation.userarea.cart.add', {id: product.id, quantity: 1}) }}">
                        <input class="form-control" type="text" name="quantity">
                        <input class="btn btn-primary" type="submit" value="Add to cart">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
