{% extends '@CorporationUserArea/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .form-forgot {
            max-width: 400px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-forgot .form-forgot-heading,
        .form-forgot .checkbox {
            margin-bottom: 5px;
        }
        label {
            margin-bottom: 15px;
        }
        .form-forgot .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block main %}
    {{ form_start(form, { 'attr': { 'class': 'form-forgot' }}) }}
    <h2 class="form-forgot-heading">Forgot your password?</h2>
    <label>Enter your email address and we'll help you reset your password.</label>

    {% for flashMsg in app.session.flashBag.get('notice') %}
        <div class="alert alert-success">{{ flashMsg }}</div>
    {% endfor %}
    {% for flashMsg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">{{ flashMsg }}</div>
    {% endfor %}

    {{ form_row(form.email, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Your e-mail'}}) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
    {{ form_end(form) }}
{% endblock %}