{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-sm-6">
            {% block sonata_user_login %}
                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}</h2>
                    </div>

                    <div class="panel-body">

                        <form action="{{ path('corporation.userarea.security.login') }}" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label for="username" class="col-sm-4 control-label">
                                    {{ 'form.email'|trans({}, 'SonataUserBundle') }}
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required"/>
                                </div>
                            </div>

                            <div class="form-group control-group">
                                <label for="password" class="col-sm-4 control-label">
                                    {{ 'security.login.password'|trans({}, 'SonataUserBundle') }}
                                </label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="password" name="_password" required="required"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <div class="checkbox control-group">
                                        <label for="remember_me">
                                            <input type="checkbox" id="remember_me" name="_remember_me" checked />
                                            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group control-group">
                                <div class="controls col-sm-offset-4 col-sm-8">
                                    <a href="{{ path('corporation.userarea.security.forgot') }}">
                                        {{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}
                                    </a>
                                </div>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <input type="hidden" name="_target_path" value="/" />

                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endblock %}
        </div>
        <div class="col-sm-6">
            {{ render(controller("CorporationUserAreaBundle:Security:register", {formLess: true})) }}
        </div>
    </div>
{% endblock %}