{#<form action="{{ path('corporation.userarea.security.register') }}" {{ form_enctype(form) }} method="POST"#}
      {#class="form-horizontal fos_user_registration_register">#}
    {#{{ form_widget(form) }}#}
    {#<div>#}
        {#<input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />#}
    {#</div>#}
{#</form>#}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}</h2>
    </div>

    <div class="panel-body">
        <form action="/app_dev.php/register" method="POST" class="form-horizontal fos_user_registration_register">
            <div class="form-group">
                <label for="registration_form_email" class="col-sm-4 control-label">
                    Email
                </label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="registration_form_email" name="registration_form[email]" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="registration_form_plainPassword_first" class="col-sm-4 control-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="registration_form_plainPassword_first" name="registration_form[plainPassword][first]" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="registration_form_plainPassword_second" class="col-sm-4 control-label">Repeat Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="registration_form_plainPassword_second" name="registration_form[plainPassword][second]" required="required">
                </div>
            </div>

            {#<input type="hidden" id="registration_form__token" name="registration_form[_token]" value="{{ csrf_token('registration') }}">#}

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"/>
                </div>
            </div>

            {{ form_widget(form._token) }}
        </form>
    </div>
</div>