<h3>Hello,</h3>

<p>
    You have received this email because you have forgotten
    your profile password.
    If you believe you have received this email in error,
    please contact us at <a href="{{ app.request.httpHost~path('corporation.userarea.main.index') }}">{{ app.request.httpHost~path('corporation.userarea.main.index') }}</a>
</p>
<p>
    To reset your password, click the button below and follow the instructions.
</p>

<p>
    This button will expire in 48 hours.
    If it no longer works, please use the Forgot Password
    feature to send this email again.
</p>

<p>
    Sincerely,
    <b>{{ corporation_name }} team</b>
</p>


<a style="display: inline-block; width: 200px; background-color: #3869D4; border-radius: 3px;color: #ffffff;font-size: 15px;line-height: 45px;text-align: center;text-decoration: none;-webkit-text-size-adjust: none;mso-hide: all;background-color: #22BC66;"
   href="{{ app.request.httpHost~path('corporation.userarea.security.resetPassword', { resetPasswordToken: customer.resetPasswordToken }) }}"
>
    Reset your password
</a>

<p style="font-size: 12px;">
    If you’re having trouble clicking the password reset button, copy and paste the URL below into your web browser.
</p>
<p style="font-size: 12px;">
    <a href="{{ app.request.httpHost~path('corporation.userarea.security.resetPassword', {'resetPasswordToken': customer.resetPasswordToken}) }}">
        {{ app.request.httpHost~path('corporation.userarea.security.resetPassword', {'resetPasswordToken': customer.resetPasswordToken}) }}
    </a>
</p>