{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Contact us</h1>
        </div>
    </div>
{% endblock %}
