{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>
                This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                featured content or information.
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <h1 style="text-align: center">Popular products</h1>
                {% for product in products %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            {% if product.mainPhoto %}
                                <img src="{% path product.mainPhoto.id, 'reference' %}" alt="...">
                            {% else %}
                                <img src="" alt="...">
                            {% endif %}
                            <div class="row" style="margin-top: 10px;">
                                {% if product.photoGallery %}
                                    {% for photoGalleryItem in product.photoGallery.galleryHasMedias %}
                                        <div class="col-md-4">
                                            <img class="responsive" src="{% path photoGalleryItem.id, 'reference' %}" alt="...">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="caption">
                                <h3>{{ product.title }}</h3>
                                <p>{{ product.description }}</p>
                                <p>{{ product.price }}$</p>
                                <p>
                                    <a href="{{ path('corporation.userarea.shop.product', {slug: product.slug}) }}" class="btn btn-primary" role="button">More</a>
                                    <a href="{{ path('corporation.userarea.cart.add', {id: product.id, quantity: 1}) }}"
                                       class="btn btn-default" role="button">
                                        Add to cart
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
