{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="col-md-12">
        {% for product in products %}
            <div class="row">
                <div class="well">
                    <h1>{{ product.title }}</h1>
                    <p>{{ product.description }}</p>
                    <p>{{ product.price }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
