{% extends 'SonataAdminBundle::custom_layout.html.twig' %}

{% block content %}
    <style>
        .form-horizontal .form-group {
            /* margin-right: -15px; */
            /* margin-left: -15px; */
        }
    </style>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h4>
                        Filter by date
                    </h4>
                </div>
                <div class="box-body">
                    <form class="sonata-filter-form form-horizontal " action="{{ path('stats_list') }}" method="GET"
                          role="form">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group " id="filter-s5a4d83d129b05-createdAt" sonata-filter="true"
                                     style="">
                                    <div class="col-sm-12">
                                        <div id="filter_createdAt_value">
                                            <div>
                                                <label for="filter_createdAt_value_start">From</label>
                                                <div class="input-group">
                                                    <div class="input-group date" id="dtp_filter_createdAt_value_start">
                                                        <input type="text" id="filter_createdAt_value_start" name="filter[startDate]" data-date-format="YYYY-MM-DD H:m" class=" form-control" value="{{ startDate }}">
                                                        <span class="input-group-addon"><span class="fa-calendar fa"></span></span>
                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                    jQuery(function ($) {
                                                        $('#dtp_filter_createdAt_value_start').datetimepicker({"pickTime":true,"useCurrent":true,"minDate":"1\/1\/1900","maxDate":null,"showToday":true,"language":"en","defaultDate":"","disabledDates":[],"enabledDates":[],"icons":{"time":"fa fa-clock-o","date":"fa fa-calendar","up":"fa fa-chevron-up","down":"fa fa-chevron-down"},"useStrict":false,"sideBySide":false,"daysOfWeekDisabled":[],"collapse":true,"calendarWeeks":false,"viewMode":"days","minViewMode":"days","useMinutes":true,"useSeconds":false,"minuteStepping":1});
                                                    });
                                                </script>
                                            </div>
                                            <div>
                                                <label for="filter_createdAt_value_end">To</label>
                                                <div class="input-group">
                                                    <div class="input-group date" id="dtp_filter_createdAt_value_end">
                                                        <input type="text" id="filter_createdAt_value_end" name="filter[endDate]" data-date-format="YYYY-MM-DD H:m" class=" form-control" value="{{ endDate }}">
                                                        <span class="input-group-addon"><span class="fa-calendar fa"></span></span>
                                                    </div>
                                                </div><script type="text/javascript">
                                                    jQuery(function ($) {
                                                        $('#dtp_filter_createdAt_value_end').datetimepicker({"pickTime":true,"useCurrent":true,"minDate":"1\/1\/1900","maxDate":null,"showToday":true,"language":"en","defaultDate":"","disabledDates":[],"enabledDates":[],"icons":{"time":"fa fa-clock-o","date":"fa fa-calendar","up":"fa fa-chevron-up","down":"fa fa-chevron-down"},"useStrict":false,"sideBySide":false,"daysOfWeekDisabled":[],"collapse":true,"calendarWeeks":false,"viewMode":"days","minViewMode":"days","useMinutes":true,"useSeconds":false,"minuteStepping":1});
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-3 text-center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-filter" aria-hidden="true"></i> Filter
                                    </button>

                                    <a class="btn btn-default" href="{{ path('stats_list', {filter: 'reset'}) }}">
                                        Reset
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h4>
                        Repair Shops (Spent $, Bought Screens)
                    </h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <canvas id="repairShops"></canvas>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h4>
                        Employees (Spent $, Bought Screens)
                    </h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <canvas id="employees"></canvas>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h4>
                        Regions (Spent $, Bought Screens)
                    </h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <canvas id="purchasesByRegions"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/Chart.min.js"></script>
    <script>
        var backgroundColors = [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
        ];
        var borderColors = [
            'rgba(255, 99, 132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(255, 99, 132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
        ];

        var repairShops = new Chart(document.getElementById("repairShops").getContext('2d'), {
            type: 'bar',
            data: {
                labels: [
                    {% for place in places %}
                    '{{ place.nameAddress }}',
                    {% endfor %}
                ],
                datasets: [
                    {
                        label: 'Spent ($)',
                        data: [
                            {% for place in places %}
                            {{ place.total }},
                            {% endfor %}
                        ],
                        backgroundColor: backgroundColors,
                        borderColor: borderColors,
                        borderWidth: 1
                    },
                    {
                        label: 'Screens',
                        data: [
                            {% for place in places %}
                            {{ place.totalScreens }},
                            {% endfor %}
                        ],
                        backgroundColor: backgroundColors,
                        borderColor: borderColors,
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    xAxes: [{
                        display: false
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var purchasesByRegions = new Chart(document.getElementById("purchasesByRegions").getContext('2d'), {
            type: 'pie',
            data: {
                datasets: [
                    {
                        data: [
                            {% for region in regions %}
                            {{ region.total }},
                            {% endfor %}
                        ],
                        backgroundColor: borderColors
                    },
                    {
                        data: [
                            {% for region in regions %}
                            {{ region.totalScreens }},
                            {% endfor %}
                        ],
                        backgroundColor: borderColors
                    },
                ],
                labels: [
                    {% for region in regions %}
                    '{{ region.name }}',
                    {% endfor %}
                ]
            },
            options: {}
        });

        var employees = new Chart(document.getElementById("employees").getContext('2d'), {
            type: 'bar',
            data: {
                labels: [
                    {% for user in users %}
                    '{{ user.fullname }}',
                    {% endfor %}
                ],
                datasets: [
                    {
                        label: 'Spent ($)',
                        data: [
                            {% for user in users %}
                            {{ user.total }},
                            {% endfor %}
                        ],
                        backgroundColor: backgroundColors,
                        borderColor: borderColors,
                        borderWidth: 1
                    },
                    {
                        label: 'Screens',
                        data: [
                            {% for user in users %}
                            {{ user.totalScreens }},
                            {% endfor %}
                        ],
                        backgroundColor: backgroundColors,
                        borderColor: borderColors,
                        borderWidth: 1
                    },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}