{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{#{% extends "SonataUserBundle:Profile:action.html.twig" %}#}

{% block sonata_profile_content %}
    {{ form_errors(form) }}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ "title_user_edit_password" | trans({}, 'SonataUserBundle') }}</h3>
        </div>
        <div class="panel-body">
            {% block fos_user_content %}
                {% include "SonataUserBundle:ChangePassword:changePassword_content.html.twig" %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock sonata_profile_content %}
