<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td.text-right {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td{
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2),
        .invoice-box table tr.total td:nth-child(3),
        .invoice-box table tr.total td:nth-child(4) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        /** RTL **/
        .rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .rtl table {
            text-align: right;
        }

        .rtl table tr td:nth-child(2) {
            text-align: left;
        }
        td .img-responsive {
            max-width: 300px;
        }
    </style>
</head>

<body>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="4">
                <table>
                    <tr>
                        <td class="title">
                            <img src="{{ asset('/img/m2b_logo.png') }}" style="width:100%; max-width:100px;">
                        </td>
                        <td class="text-right">
                            Invoice #: {{ purchase.id }}<br>
                            Created: {{ purchase.createdAt|date('F d, Y') }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="4">
                <table>
                    <tr>
                        <td>
                            M2Bwholesale<br>
                            17105 North Bay Rd # B505<br>
                            Sunny Isles Beach, FL 33160
                        </td>
                        <td class="text-right">
                            {% if purchase.place.name != 'No Name' %}
                                {{ purchase.place.name }}<br>
                            {% endif %}
                            {{ purchase.place.address }}<br>
                            {{ purchase.customerEmail }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text-right">
                            <img src="{{ cid }}" class="img-responsive">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>
                Item
            </td>
            <td>
                Quantity
            </td>
            <td>
                Price
            </td>
            <td class="text-right">
                Subtotal
            </td>
        </tr>

        {% for purchaseElement in purchase.purchaseElements %}
            {% if purchaseElement.quantityOem %}
                <tr class="item">
                    <td>
                        {{ purchaseElement.screenModel.name ~ ' Broken Screens, OEM' }}
                    </td>
                    <td>
                        {{ purchaseElement.quantityOem }}
                    </td>
                    <td>
                        ${{ purchaseElement.priceOem|number_format(2, '.', ',') }}
                    </td>
                    <td class="text-right">
                        ${{ (purchaseElement.quantityOem * purchaseElement.priceOem)|number_format(2, '.', ',') }}
                    </td>
                </tr>
            {% endif %}
            {% if purchaseElement.quantityIssues %}
                <tr class="item">
                    <td>
                        {{ purchaseElement.screenModel.name ~ 'Broken Screens, With Issues' }}
                    </td>
                    <td>
                        {{ purchaseElement.quantityIssues }}
                    </td>
                    <td>
                        ${{ purchaseElement.priceIssues|number_format(2, '.', ',') }}
                    </td>
                    <td class="text-right">
                        ${{ (purchaseElement.quantityIssues * purchaseElement.priceIssues)|number_format(2, '.', ',') }}
                    </td>
                </tr>
            {% endif %}
            {% if purchaseElement.quantityBad %}
                <tr class="item">
                    <td>
                        {{ purchaseElement.screenModel.name ~ 'Broken Screens, Bad' }}
                    </td>
                    <td>
                        {{ purchaseElement.quantityBad }}
                    </td>
                    <td>
                        ${{ purchaseElement.priceBad|number_format(2, '.', ',') }}
                    </td>
                    <td class="text-right">
                        ${{ (purchaseElement.quantityBad * purchaseElement.priceBad)|number_format(2, '.', ',') }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}

        <tr class="total">
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">
                Total: ${{ purchase.totalWithBad|number_format(2, '.', ',') }}
            </td>
        </tr>
    </table>
</div>
</body>
</html>