{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <span class="label {{ (object.typeName~'_class')|trans([], 'CorporationAdminAreaBundle') }}">
        {{ object.typeName|trans([], 'CorporationAdminAreaBundle') }}
    </span>
{% endblock %}