{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
   54
{% endblock %}

{#{%- block field -%}#}
    {#{% spaceless %}#}
        {#{% set collapse = field_description.options.collapse|default(false) %}#}
        {#{% if collapse %}#}
            {#<div class="sonata-readmore"#}
                 {#data-readmore-height="{{ collapse.height|default(40) }}"#}
                 {#data-readmore-more="{{ collapse.more|default('read_more')|trans({}, 'SonataAdminBundle') }}"#}
                 {#data-readmore-less="{{ collapse.less|default('read_less')|trans({}, 'SonataAdminBundle') }}">#}
                {#{% block field_value %}#}
                    {#{% if field_description.options.safe %}{{ value|raw }}{% else %}{{ value|nl2br }}{% endif %}#}
                {#{% endblock %}#}
            {#</div>#}
        {#{% else %}#}
            {#{{ block('field_value') }}#}
        {#{% endif %}#}
    {#{% endspaceless %}#}
{#{%- endblock -%}#}
