{% block screen_models_quantity_widget %}
    {% spaceless %}
        <style>
            .table-bordered {
                border: none;
            }
            .table-bordered>thead>tr>th,
            .table-bordered>tbody>tr>th,
            .table-bordered>tfoot>tr>th,
            .table-bordered>thead>tr>td,
            .table-bordered>tbody>tr>td,
            .table-bordered>tfoot>tr>td {
                border: 1px solid #b6b6b6;
            }
            .table-bordered>tbody>tr>td.no-x-borders {
                border-left: none;
                border-right: none;
            }
            div.screens-total {
                font-size: 18px;
                font-weight: 700;
            }
        </style>
        <table class="table table-bordered">
            <tbody>
            {% set total_screens_fields = form|length - 2 %} {# -2 because of 2 fields for custom purchase amount #}
            {% set first_part = total_screens_fields / 6 * 4 %}

            {% for child in form %}
                {% if loop.index <= first_part %}
                    {# OEM screens and issues part #}

                    {% if loop.index % 4 == 1 %}
                        <tr>
                            <td rowspan="2">{{ child.vars.attr.model }}</td>
                    {% endif %}
                    <td>
                        {{ child.vars.attr.labelText }}
                    </td>
                    <td>
                        {{ form_widget(child) }}
                    </td>
                    {% if loop.index % 2 == 0 %}
                        </tr>
                    {% endif %}

                    {% if loop.index == first_part %}
                        {# Paste empty row #}
                        <tr><td colspan="5" class="no-x-borders"></td></tr>
                        <tr><td colspan="5">Bad LCD's</td></tr>
                    {% endif %}
                {% elseif loop.index <= total_screens_fields %}
                    {# Bad Screens part #}

                    {% if loop.index % 2 == 1 %}
                        <tr>
                            <td>{{ child.vars.attr.model }}</td>
                    {% endif %}
                    <td>
                        {{ child.vars.attr.labelText }}
                    </td>
                    <td>
                        {{ form_widget(child) }}
                    </td>
                    {% if loop.index % 2 == 0 %}
                        </tr>
                    {% endif %}

                    {% if loop.index == total_screens_fields %}
                        {# Paste empty row #}
                        <tr><td colspan="5" class="no-x-borders"></td></tr>
                    {% endif %}
                {% else %}
                    {# Custom purchase amount fields #}

                    {% if loop.index % 2 == 1 %}
                        <tr><td></td>
                    {% endif %}
                    <td>
                        {{ child.vars.attr.labelText }}
                    </td>
                    <td>
                        {{ form_widget(child) }}
                    </td>
                    {% if loop.index % 2 == 0 %}
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div class="screens-total" id="total-price">
            Total price: 0.00$
        </div>
        <div class="screens-total" id="total-quantity">
            Total quantity: 0 screen
        </div>
        <script>
            $('input.quantity-calculated').on('keydown', function(e) {
                var allowedButtons = [ 8, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105 ];
                if ($.inArray(e.keyCode, allowedButtons) == -1) {
                    return false;
                }
            });
            $('input.price-calculated').on('keydown', function(e) {
                var allowedButtons = [ 8, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 190 ];
                if ($.inArray(e.keyCode, allowedButtons) == -1) {
                    return false;
                }
            });

            $('input.price-calculated, input.quantity-calculated').on('input', function () {
                recalculateScreenPrices();
                setRequiredPriceFields();
            });

            function recalculateScreenPrices() {
                var total_quantity = 0;
                var total_price = 0.00;
                $('input.quantity-calculated').each(function () {
                    if (isNumeric(this.value)) {
                        var screenQuantity = parseInt(this.value);
                        total_quantity += screenQuantity;
                        var priceFieldVal = $('input.price-calculated[calculated-data="' + this.getAttribute('price-selector') + '"][model="' + this.getAttribute('model') + '"]').val();
                        if (isNumeric(priceFieldVal)) {
                            total_price += parseFloat(priceFieldVal) * screenQuantity;
                        }
                    }
                });
                var customPriceFieldVal = $('input.price-calculated[calculated-data="custom-price"]').val();
                if (isNumeric(customPriceFieldVal)) {
                    total_price += parseFloat(customPriceFieldVal);
                }

                document.getElementById('total-price').innerHTML = 'Total price: ' + (total_price).toFixed(2) + '$';
                document.getElementById('total-quantity').innerHTML = 'Total quantity: ' + total_quantity + ' screen';

                if (total_quantity && total_price) {
                    return true;
                } else {
                    return false;
                }
            }

            function setRequiredPriceFields() {
                $('input.quantity-calculated').each(function () {
                    if (isNumeric(this.value)) {
                        $('input.price-calculated[calculated-data="' + this.getAttribute('price-selector') + '"][model="' + this.getAttribute('model') + '"]').attr('required', true);
                    } else {
                        $('input.price-calculated[calculated-data="' + this.getAttribute('price-selector') + '"][model="' + this.getAttribute('model') + '"]').attr('required', null);
                    }
                });
            }

            function isNumeric(n) {
                return !isNaN(parseFloat(n)) && isFinite(n);
            }
        </script>
    {% endspaceless %}
{% endblock %}

{% block burgov_key_value_widget %}
    {{- block('sonata_type_native_collection_widget') -}}
{% endblock %}

{% block signature_widget %}
    {% spaceless %}
        <div style="display: none;">
            {{ form_widget(form) }}
        </div>
        <div id="signature"></div>
        <script src="/js/jSignature.min.js"></script>
        <script>
            $(document).ready(function() {
                $("#signature").jSignature({ 'UndoButton': true });
                setTimeout(function () {
                    $("input[value='Undo last stroke']").addClass('btn btn-warning');
                }, 1000);
                $("#signature").bind('change', function(e) {
                    var datapair = $(e.target).jSignature('getData', 'default');
                    $('#{{ form.vars.id }}').val(datapair);
                });
            })
        </script>
    {% endspaceless %}
{% endblock %}