{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="col-md-12">
        <div class="row">
            <div class="jumbotron">
                <h1>FAQ</h1>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        {% for question in questions %}
            <div class="row">
                <div class="well">
                    <p style="color: rebeccapurple;">
                        {{ question.question }}
                    </p>
                    <p>
                        {{ question.answer }}
                    </p>

                    {{ question.products.count ? 'Related products: ' }}
                    {% for product in question.products %}
                        <a href="{{ path('corporation.userarea.shop.product', {slug: product.slug}) }}">{{ product.title }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <div class="well">
            <h1>Ask us a question</h1>

            <form name="question_form" method="post">
                <label for="question_form_question" class="required">
                    Question
                </label>
                <textarea class="form-control" name="question_form[question]" id="question_form_question" cols="30" rows="10" required="required">
                    {{- form.vars.value.question -}}
                </textarea>

                <label for="question_form_email" class="required">
                    Email
                </label>
                <input class="form-control" type="email" id="question_form_email" name="question_form[email]" required="required" value="{{ form.vars.value.email }}">

                {{ form_widget(form._token) }}

                <input type="submit" class="btn btn-primary" style="margin-top: 10px;" value="Send"/>
            </form>
        </div>
    </div>
{% endblock %}
