{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="col-md-12">
        <div class="row">
            <div class="jumbotron">
                <h1>Recipe</h1>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="well">
                <p style="color: rebeccapurple;">
                    {{ recipe.title }}
                </p>

                {{ recipe.products.count ? 'Related products: ' }}
                {% for product in recipe.products %}
                    <a href="{{ path('corporation.userarea.shop.product', {slug: product.slug}) }}">{{ product.title }}</a>
                {% endfor %}
            </div>

            <div class="well">
                {{ recipe.video ? recipe.video.providerMetadata.html|raw }}
            </div>
        </div>
    </div>
{% endblock %}
