{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="col-md-12">
        <div class="row">
            <div class="jumbotron">
                <h1>Recipes</h1>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        {% for recipe in recipes %}
            <div class="row">
                <div class="well">
                    <p style="color: rebeccapurple;">
                        <a href="{{ path('corporation.userarea.content.recipe', {slug: recipe.slug}) }}">
                            {{ recipe.title }}
                        </a>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam assumenda atque autem
                        delectus dolores eligendi est expedita facilis, ipsa magnam non perferendis quaerat qui quis,
                        repellat ullam ut voluptates!
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
