{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="col-md-12">
        <div class="row">
            <div class="jumbotron">
                <h1>Reviews</h1>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        {% for review in reviews %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    {% if review.photo %}
                        <img src="{% path review.photo.id, 'reference' %}" alt="...">
                    {% else %}
                        <img src="" alt="...">
                    {% endif %}

                    <div class="caption">
                        <h3><a href="{{ review.socialLink }}">{{ review.author }}</a></h3>
                        <p>Rating: {{ review.rating }}</p>
                        <p>
                            {{ review.text }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="well">
                <h1>Tell us what you think about our products</h1>
                <form name="review_form" method="post">
                    <label for="review_form_author" class="required">Author</label>
                    <input class="form-control" type="text" id="review_form_author" name="review_form[author]" required="required">

                    <label for="review_form_sociallink" class="required">Sociallink</label>
                    <input class="form-control" type="text" id="review_form_sociallink" name="review_form[sociallink]" required="required">

                    <label for="review_form_rating" class="required">Rating</label>
                    <input class="form-control" type="text" id="review_form_rating" name="review_form[rating]" required="required">

                    <label for="review_form_text" class="required">Text</label>
                    <input class="form-control" type="text" id="review_form_text" name="review_form[text]" required="required">

                    {{ form_widget(form._token) }}

                    <input type="submit" class="btn btn-primary" style="margin-top: 10px;" value="Send"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
