
    <style>
        #google-map {
            height: 100%;
        }
        @media(max-width:768px) {
            .gm-style .gm-style-iw {
                font-weight: 400;
                font-size: 250%;
            }
        }
        .gm-style .gm-style-iw a {
            text-decoration: none;
        }
    </style>

    <div id="google-map"></div>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('google-map'), {
                center: new google.maps.LatLng(37.09024, -95.712891),
                zoom: 5
            });
            var iconTypes = [
                {
                    path: 'M -6,-6 6,6 M 6,-6 -6,6',
                    strokeColor: '#F00',
                    strokeWeight: 4
                },
                // Doesn't sell
                {
                    path: 'M -6,-6 6,6 M 6,-6 -6,6',
                    strokeColor: '#F00',
                    strokeWeight: 4
                },
                // Confused
                {
                    path: 'M -8,0 0,-8 8,0 0,8 z',
                    strokeColor: '#f39c12',
                    fillColor: '#f39c12',
                    fillOpacity: 1
                },
                // Place to go
                {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: 6,
                    strokeColor: '#00a65a'
                }
            ];
            var infoWindow = new google.maps.InfoWindow;

            var markers = [
                {% for object in admin.datagrid.results %}
                    {
                        lat: '{{ object.lat }}',
                        lng: '{{ object.lng }}',
                        name: '{{ object.name }}',
                        address: '{{ object.address }}',
                        phone: '{{ object.phone }}',
                        email: '{{ object.contactPerson ? object.contactPerson.email : '' }}',
                        expectedScreens: '{{ object.expectedScreens }}',
                        lastVisit: '{{ object.lastVisit ? object.lastVisit|date("M d Y") }}',
                        lastPurchaseTotal: '{{ object.lastPurchaseTotal }}',
                        type: {{ object.type }},
                        linkMore: '{{ path('place_edit', {'id': object.id}) }}',
                        linkAddPurchase: '{{ path('place_purchase_create', {'id': object.id}) }}',
                        notes: '{{ object.notes }}'
                    },
                {% endfor %}
            ];

            var googleMapMarkers = [];

            Array.prototype.forEach.call(markers, function(markerElem, index) {
                var point = new google.maps.LatLng(
                    parseFloat(markerElem.lat),
                    parseFloat(markerElem.lng)
                );

                var infowincontent = document.createElement('div');
                infowincontent.innerHTML = '<strong>' + markerElem.name + '</strong><br>';
                if (markerElem.phone) {
                    infowincontent.innerHTML += markerElem.phone + '<br>';
                }
                if (markerElem.address) {
                    infowincontent.innerHTML += markerElem.address + '<br>';
                }
                if (markerElem.email) {
                    infowincontent.innerHTML += markerElem.email + '<br>';
                }
                if (markerElem.expectedScreens && markerElem.type == 1) {
                    infowincontent.innerHTML += 'Expected screens: ' + markerElem.expectedScreens + '<br>';
                }
                if (markerElem.lastVisit) {
                    infowincontent.innerHTML += 'Last visit: ' + markerElem.lastVisit + '<br>';
                }
                if (markerElem.lastPurchaseTotal) {
                    infowincontent.innerHTML += 'Last purchase total: ' + markerElem.lastPurchaseTotal + '<br>';
                }
                infowincontent.innerHTML += '<a href="' + markerElem.linkMore + '" target="_blank">More</a><br>';
                infowincontent.innerHTML += '<a href="' + markerElem.linkAddPurchase + '" target="_blank">Add Purchase</a><br>';
                if (markerElem.notes) {
                    infowincontent.innerHTML += '<strong>Note:</strong><br>' + markerElem.notes + '<br>';
                }
                infowincontent.innerHTML += '<a href="https://www.google.com/maps/dir//' + markerElem.lat + ',' + markerElem.lng + '" target="_blank">Set GPS Route</a><br>';

                // Prevent all at onece markers drop
                // setTimeout(function() {
                    var marker = new google.maps.Marker({
                        map: map,
                        position: point,
                        label: markerElem.type == 1 ? { color: '#FFF', text: parseInt(markerElem.expectedScreens) <= 999 ? markerElem.expectedScreens : '999+' } : null,
                        zIndex: parseInt(markerElem.expectedScreens) == 0 ? null : parseInt(markerElem.expectedScreens),
                        icon: {
                            url: '/img/pin' + markerElem.type + '.png',
                            labelOrigin: { x: 32, y: 20 }
                        }
                    });
                    marker.addListener('click', function() {
                        infoWindow.setContent(infowincontent);
                        infoWindow.open(map, marker);
                    });
                    googleMapMarkers.push(marker);
                // }, index * 200);
            });

            var markerCluster = new MarkerClusterer(map, googleMapMarkers, {zoomOnClick: false, minimumClusterSize: 7, imagePath: '/img/m'});
        }
    </script>
    <script src="/js/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initMap">
    </script>