{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="col-md-10">
        <div class="well">
            <form action="{{ path('corporation.userarea.order.payment') }}" method="post">
                {#<input placeholder="Card number" value="{{ form.vars.value.cardNumber }}" name="billing_info_form[cardNumber]" type="text" class="form-control" value1="4111111111111111">#}
                {#<input placeholder="CVV" value="{{ form.vars.value.cardCVV }}" name="billing_info_form[cardCVV]" type="text" class="form-control" value1="900">#}
                {#<input placeholder="Year" value="{{ form.vars.value.cardYear }}" name="billing_info_form[cardYear]" type="text" class="form-control" value1="2038">#}
                {#<input placeholder="Month" value="{{ form.vars.value.cardMonth }}" name="billing_info_form[cardMonth]" type="text" class="form-control" value1="12">#}
                <input placeholder="Card number" name="billing_info_form[cardNumber]" type="text" class="form-control" value="4111111111111111">
                <input placeholder="CVV" name="billing_info_form[cardCVV]" type="text" class="form-control" value="900">
                <input placeholder="Year" name="billing_info_form[cardYear]" type="text" class="form-control" value="2038">
                <input placeholder="Month" name="billing_info_form[cardMonth]" type="text" class="form-control" value="12">

                <input type="checkbox" id="billing_info_form_billingSameAsShippingAddress" name="billing_info_form[billingSameAsShippingAddress]" {% if form.vars.value.billingSameAsShippingAddress %}checked{% endif %}>
                <label for="billing_info_form_billingSameAsShippingAddress" class="required">
                    Billing address is same as shipping address
                </label>

                <input placeholder="First name" value="{{ form.vars.value.billingFirstname }}" name="billing_info_form[billingFirstname]" type="text" class="form-control">
                <input placeholder="Last name" value="{{ form.vars.value.billingLastname }}" name="billing_info_form[billingLastname]" type="text" class="form-control">
                <input placeholder="Address" value="{{ form.vars.value.billingAddressLine1 }}" name="billing_info_form[billingAddressLine1]" type="text" class="form-control">
                <input placeholder="Address Line 2" value="{{ form.vars.value.billingAddressLine2 }}" name="billing_info_form[billingAddressLine2]" name="billing_info_form[billingfirstname]" type="text" class="form-control">
                <input placeholder="City" value="{{ form.vars.value.billingCity }}" name="billing_info_form[billingCity]" type="text" class="form-control">
                <input placeholder="State/Region" value="{{ form.vars.value.billingRegion }}" name="billing_info_form[billingRegion]" type="text" class="form-control">
                <input placeholder="Zip/Postal Code" value="{{ form.vars.value.billingPostalCode }}" name="billing_info_form[billingPostalCode]" type="text" class="form-control">
                {{ form_widget(form.billingCountry, { 'attr': {'class': 'form-control'} }) }}
                {{ form_widget(form._token) }}

                <input type="submit" class="btn btn-primary" style="margin-top: 10px;" value="Complete order"/>
            </form>
        </div>

        OR:
        <div class="well">
            <div id="paypal-button" class="btn btn-primary">
                Pay with PayPal
            </div>

            <script src="https://www.paypalobjects.com/api/checkout.js"></script>
            <script>
                paypal.Button.render({
                    env: 'sandbox', // Or 'production'
                    client: {
                        sandbox:    '{{ paypal_api_client_id }}',
                        production: '{{ paypal_api_client_id }}'
                    },
                    style: {
                        color: 'gold',
                        size: 'small'
                    },
                    commit: true, // Show a 'Pay Now' button
                    payment: function(data, actions) {
                        return actions.payment.create({
                            payment: {
                                transactions: [
                                    {
                                        amount: { total: '{{ amount }}', currency: 'USD' }
                                    }
                                ]
                            },

                            experience: {
                                input_fields: {
                                    no_shipping: 1
                                }
                            }
                        });
                    },
                    onAuthorize: function(data, actions) {
                        // Display the payment details and a confirmation button

                        var shipping = data.payer.payer_info.shipping_address;

                        document.querySelector('#recipient').innerText = shipping.recipient_name;
                        document.querySelector('#line1').innerText     = shipping.line1;
                        document.querySelector('#city').innerText      = shipping.city;
                        document.querySelector('#state').innerText     = shipping.state;
                        document.querySelector('#zip').innerText       = shipping.postal_code;
                        document.querySelector('#country').innerText   = shipping.country_code;

                        document.querySelector('#paypal-button-container').style.display = 'none';
                        document.querySelector('#confirm').style.display = 'block';

                        // Listen for click on confirm button

                        document.querySelector('#confirmButton').addEventListener('click', function() {

                            // Disable the button and show a loading message

                            document.querySelector('#confirm').innerText = 'Loading...';
                            document.querySelector('#confirm').disabled = true;

                            // Execute the payment

                            return actions.payment.execute().then(function() {

                                // Show a thank-you note

                                document.querySelector('#thanksname').innerText = shipping.recipient_name;

                                document.querySelector('#confirm').style.display = 'none';
                                document.querySelector('#thanks').style.display = 'block';
                            });
                        });


                        return actions.payment.execute().then(function(payment) {


                            console.log(payment);
                            console.log('The payment is complete! You can now show a confirmation message to the customer');
                        });
                    },
                    onCancel: function(data, actions) {

                        console.log('Buyer cancelled the payment');
                    },
                    onError: function(err) {
                        console.log('An error occurred during the transaction');
                    },
                }, '#paypal-button');
            </script>
        </div>
    </div>


{% endblock %}
