{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="col-md-10">
        <div class="well">
            <p>
                Thank you for purchase. You will be notified once your package is shipped.
            </p>
        </div>
    </div>
{% endblock %}
