{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="col-md-10">
        <div class="well">
            <form action="{{ path('corporation.userarea.order.shipping') }}" method="post">
                {% if form.email is defined %}
                    <label for="">Already have an account? <a href="{{ path('corporation.userarea.security.login') }}">Login</a></label>
                    <input placeholder="Email" value="{{ form.vars.value.email }}" name="shipping_info_form[email]" type="email" class="form-control" required="required">
                {% endif %}

                <input placeholder="First name" value="{{ form.vars.value.firstname }}" name="shipping_info_form[firstname]" type="text" class="form-control">
                <input placeholder="Last name" value="{{ form.vars.value.lastname }}" name="shipping_info_form[lastname]" type="text" class="form-control">
                <input placeholder="Address" value="{{ form.vars.value.addressLine1 }}" name="shipping_info_form[addressLine1]" type="text" class="form-control">
                <input placeholder="Address Line 2" value="{{ form.vars.value.addressLine2 }}" name="shipping_info_form[addressLine2]" name="shipping_info_form[firstname]" type="text" class="form-control">
                <input placeholder="City" value="{{ form.vars.value.city }}" name="shipping_info_form[city]" type="text" class="form-control">
                {{ form_widget(form.region, { 'attr': {'class': 'form-control'} }) }}
                <input placeholder="Zip/Postal Code" value="{{ form.vars.value.postalCode }}" name="shipping_info_form[postalCode]" type="text" class="form-control">
                {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                <input placeholder="Phone number" value="{{ form.vars.value.phone }}" name="shipping_info_form[phone]" type="text" class="form-control">

                {{ form_widget(form._token) }}
                <input type="submit" class="btn btn-primary" value="Next"/>
            </form>
        </div>
    </div>
{% endblock %}
