{% extends '@CorporationUserArea/layout.html.twig' %}

{% block main %}
    <div class="col-md-10">
        <div class="well">
            <a href="{{ path('corporation.userarea.order.shipping') }}" class="btn btn-primary">
                Back
            </a>

            Select shipping option:
            {% for rate in rates %}
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        {{ rate['price'] }}$  {{ rate.description|raw }}
                    </label>
                </div>
            {% endfor %}

            <a href="{{ path('corporation.userarea.order.payment') }}" class="btn btn-primary">
                Next
            </a>
        </div>
    </div>
{% endblock %}
